body {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
}

button {
    width: 100px;
    font-size: large;
    font-family:"Orbitron", sans-serif;
    border: solid 1px rgb(173, 172, 172);
}

#main-calc-body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    /* height: 400px; */
}

#calc-display {
    border: solid 1px rgb(173, 172, 172);
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    text-align: right;
    height: 100px;
    padding: 5px;
}

#calc-btn-panel {
    display: flex;
    height: 300px;
}

#digit-btn-panel {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

#special-btn-panel {
    display: flex;
    flex-direction: column;
}

#btn-clear {
    background-color: red;
    color: white;
}

#btn-equal {
    background-color: green;
    color: white;
}

.operator {
    flex: 1;
    background-color: lightgray;
}

.digit {
    width: 33%;
    flex-grow: 1;
}

.special {
    width: 33%;
    flex-grow: 1;
}